{% extends 'layout/base-h5.html'  %}
{% block title %}Test{% endblock %}
{% block content %}
<style>
	.wrap {
		height: 350px;
		border: 1px solid;
		margin-left: 50px;
	} 
	.upper { 
		vertical-align: super;
	}
	.block {
		display: inline-block;
		height: 20px;
		width: 20px;
		border: 1px solid;
		vertical-align: 50%;
	}
</style>
<div>OKOKOK</div>

<div class="wrap">
	<span>feifeiyu, <span class="upper">hi</span> <div class="block"></div>werty</span>
</div>
<script>
	(function() {
		test()
		function test() {
			console.log('test')
		}
	}()) 
</script>
{% endblock %}